{% extends "root_header.html" %}
{# This file contains the submission material for the Udacity Nanodegree
Introduction to Programming by Jes H.
This is the extended Jinja template containing a headline and some simple
external API interaction functionality #}

{% block headline %}
<div class="coolheading">
	API interaction with CodePen.io
</div>
{% endblock %}

{% block codepen_api %}
<br><br><br>
<h1>Most popular CodePens from right now:</h1>
<h1>(from http://codepen.io/popular/feed/)</h1>

{% for pen in codepens %}
	<div class="lesson">
		<h2 class="addmargin">No. {{loop.index}}: {{ pen.pen_title }}</h2>
		<div class="concept">
			<h3>By {{ pen.user_name }}</h3>
			<div class="concept-description">

				<p data-height="300" data-theme-id="0" data-slug-hash="{{ pen.pen_hash }}" data-default-tab="result" data-user="{{ pen.user_name }}" class='codepen'>See the Pen <a href='{{ pen.pen_url }}'>{{ pen.pen_title }}</a> by {{ pen.pen_creator }} (<a href='{{ pen.user_url }}'>@{{ pen.user_name }}</a>) on <a href='http://codepen.io'>CodePen</a>.</p>

			</div>
		</div>
	</div>

{% endfor %}
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
{# <iframe src="http://codepen.io/chriscoyier/embed/gfdDu"> #}
{% endblock %}
